## Importando as bibliotecas

In [3]:
import pandas as pd
import numpy as np

## Instanciando o dataframe

In [4]:
df_listings = pd.read_csv('listings.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
print('Total de registros carregados:',len(df_listings))
df_listings.head()

Total de registros carregados: 33715

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,https://www.airbnb.com/rooms/17878,20191122092441,2019-11-22,Very Nice 2Br - Copacabana - WiFi,Pls note that special rates apply for Carnival...,- large balcony which looks out on pedestrian ...,Pls note that special rates apply for Carnival...,none,This is the best spot in Rio. Everything happe...,NaN,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.13
25026,https://www.airbnb.com/rooms/25026,20191122092441,2019-11-22,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,Copacabana is a lively neighborhood and the ap...,"For any stay superior to 15 days, an additiona...",...,f,f,strict_14_with_grace_period,t,t,3,3,0,0,2.04
31560,https://www.airbnb.com/rooms/31560,20191122092441,2019-11-22,NICE & COZY 1BDR - IPANEMA BEACH,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,none,Die Nachbarschaft von Ipanema ist super lebend...,NaN,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.38
35636,https://www.airbnb.com/rooms/35636,20191122092441,2019-11-22,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,"The location is extremely convenient, safe and...",This cosy apartment is just a few steps away ...,none,The apartment street is very quiet and safe ....,Please include the following information with ...,...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,2.28
35764,https://www.airbnb.com/rooms/35764,20191122092441,2019-11-22,COPACABANA SEA BREEZE - RIO - 20 X Superhost,Our newly renovated studio is located in the b...,"FEEL LIKE YOUR HOME LIVING AS ""CARIOCA"" LOCAL ...",Our newly renovated studio is located in the b...,none,Our guests will experience living with a local...,Our guests no need to worry about breakfast a...,...,f,f,strict_14_with_grace_period,f,t,1,1,0,0,2.84

## Pré-selecionando atributos

In [5]:
df_listings_filtered = df_listings[['host_name', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_identity_verified', 'neighbourhood', 'zipcode', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'cancellation_policy', 'calculated_host_listings_count', 'reviews_per_month']]
df_listings_filtered.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,100%,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,91%,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,100%,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,100%,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,100%,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84

## Formatando atributos

In [6]:
df_listings_filtered['host_response_rate'] = df_listings_filtered.host_response_rate.str.rstrip('%').astype('float') / 100
df_listings_filtered['price'] = df_listings_filtered.price.str.lstrip('$').str.replace(',','').astype('float')
df_listings_filtered['security_deposit'] = df_listings_filtered.security_deposit.str.lstrip('$').str.replace(',','').astype('float')
df_listings_filtered['cleaning_fee'] = df_listings_filtered.cleaning_fee.str.lstrip('$').str.replace(',','').astype('float')
df_listings_filtered['extra_people'] = df_listings_filtered.extra_people.str.lstrip('$').str.replace(',','').astype('float')
df_listings_filtered.round({"review_scores_rating":2,"review_scores_accuracy":2,"review_scores_cleanliness":2,"review_scores_checkin":2,"revireview_scores_communication":2,"review_scores_location":2,"review_scores_value":2,"reviews_per_month":2})
df_listings_filtered.round({"latitude":6, "longitude":6})

df_listings_filtered.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84

## Inspecionando dados

In [7]:
df_listings_filtered.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,21481.000000,33715.000000,33715.000000,33715.000000,33661.000000,33673.000000,33667.000000,33715.000000,18935.000000,22731.000000,...,33715.000000,18293.000000,18275.00000,18280.000000,18274.000000,18280.000000,18277.000000,18278.000000,33715.000000,19149.000000
mean,0.854150,-22.965208,-43.254228,4.199941,1.694765,1.646126,2.574242,651.860537,1143.582678,158.406713,...,9.374344,94.777565,9.65658,9.431565,9.802561,9.775656,9.748044,9.332093,5.996292,0.707232
std,0.263968,0.035244,0.097488,2.625252,1.508228,1.075649,2.121490,1695.447098,2504.376112,179.558794,...,24.815311,9.141386,0.88463,1.079031,0.713238,0.744620,0.734016,1.016906,20.303420,0.927453
min,0.000000,-23.073400,-43.737090,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,20.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,0.830000,-22.984710,-43.323360,2.000000,1.000000,1.000000,1.000000,151.000000,0.000000,90.000000,...,0.000000,93.000000,10.00000,9.000000,10.000000,10.000000,10.000000,9.000000,1.000000,0.110000
50%,1.000000,-22.970850,-43.200220,4.000000,1.000000,1.000000,2.000000,290.000000,500.000000,150.000000,...,1.000000,98.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,0.340000
75%,1.000000,-22.946725,-43.187085,6.000000,2.000000,2.000000,3.000000,600.000000,1000.000000,200.000000,...,6.000000,100.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,3.000000,0.980000
max,1.000000,-22.750380,-43.104060,160.000000,200.000000,20.000000,69.000000,41982.000000,62973.000000,11755.000000,...,372.000000,100.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,205.000000,10.080000

## Tratamento de dados ausentes

In [8]:
# Eliminação de registros com dados ausentes

df_listings_filtered_sampled = df_listings_filtered.dropna()

In [9]:
# Estatística descritiva após eliminação de dados ausentes

df_listings_filtered_sampled.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,...,9861.000000,9861.000000,9861.000000,9861.000000,9861.00000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000
mean,0.918139,-22.970356,-43.230672,4.232431,1.597303,1.568097,2.639083,345.807525,654.149072,145.846770,...,21.776189,94.803772,9.682487,9.456242,9.81148,9.786938,9.801846,9.331914,7.999392,0.863265
std,0.176137,0.028181,0.080298,2.334529,0.888020,0.995096,1.963937,677.145824,1360.089899,102.370078,...,35.432318,8.488587,0.795325,0.982110,0.65611,0.681050,0.608160,0.948932,21.941310,0.976393
min,0.000000,-23.072620,-43.567640,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,20.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,0.900000,-22.984620,-43.224860,2.000000,1.000000,1.000000,1.000000,139.000000,0.000000,90.000000,...,3.000000,93.000000,10.000000,9.000000,10.00000,10.000000,10.000000,9.000000,1.000000,0.180000
50%,1.000000,-22.975110,-43.192810,4.000000,1.000000,1.000000,2.000000,210.000000,398.000000,150.000000,...,8.000000,98.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,2.000000,0.530000
75%,1.000000,-22.962720,-43.185080,5.000000,2.000000,2.000000,3.000000,361.000000,800.000000,190.000000,...,24.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,4.000000,1.170000
max,1.000000,-22.806570,-43.159080,25.000000,15.000000,15.000000,35.000000,31398.000000,20991.000000,1469.000000,...,372.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,205.000000,8.410000

## Tratando o atributo "amenities" - lista de itens - Multilabel Binarizer

In [10]:
df_listings_filtered_sampled['amenities']

id
17878       {TV,"Cable TV",Internet,Wifi,"Air conditioning...
25026       {TV,"Cable TV",Internet,Wifi,"Air conditioning...
31560       {TV,"Cable TV",Internet,Wifi,"Air conditioning...
35636       {TV,"Cable TV",Internet,Wifi,"Air conditioning...
35764       {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
                                  ...
40009653    {TV,Wifi,"Air conditioning",Kitchen,"Pets allo...
40025707    {TV,Wifi,"Air conditioning",Kitchen,"Smoking a...
40033232    {TV,Wifi,"Air conditioning",Kitchen,"Smoking a...
40050039    {Wifi,Kitchen,Elevator,Washer,"Fire extinguish...
40064433    {TV,Wifi,"Air conditioning",Elevator,Essential...
Name: amenities, Length: 9861, dtype: object

In [11]:
# Transformação em lista

amenities_list = df_listings_filtered_sampled['amenities'].str.strip('}{').str.replace(' ', '_').str.replace('"', '').str.split(',')

In [12]:
amenities_list

id
17878       [TV, Cable_TV, Internet, Wifi, Air_conditionin...
25026       [TV, Cable_TV, Internet, Wifi, Air_conditionin...
31560       [TV, Cable_TV, Internet, Wifi, Air_conditionin...
35636       [TV, Cable_TV, Internet, Wifi, Air_conditionin...
35764       [TV, Cable_TV, Wifi, Air_conditioning, Kitchen...
                                  ...
40009653    [TV, Wifi, Air_conditioning, Kitchen, Pets_all...
40025707    [TV, Wifi, Air_conditioning, Kitchen, Smoking_...
40033232    [TV, Wifi, Air_conditioning, Kitchen, Smoking_...
40050039    [Wifi, Kitchen, Elevator, Washer, Fire_extingu...
40064433    [TV, Wifi, Air_conditioning, Elevator, Essenti...
Name: amenities, Length: 9861, dtype: object

In [13]:
# Multilabel Binarizer

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
amenities_matriz = mlb.fit_transform(amenities_list)
amenities_matriz

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [14]:
amenities_colunas = mlb.classes_
amenities_colunas

array(['', '24-hour_check-in', 'Accessible-height_bed',
       'Accessible-height_toilet', 'Air_conditioning', 'Amazon_Echo',
       'BBQ_grill', 'Baby_bath', 'Baby_monitor',
       'Babysitter_recommendations', 'Balcony', 'Bath_towel',
       'Bathroom_essentials', 'Bathtub', 'Bathtub_with_bath_chair',
       'Beach_essentials', 'Beach_view', 'Beachfront', 'Bed_linens',
       'Bedroom_comforts', 'Bidet', 'Body_soap', 'Breakfast',
       'Breakfast_table', 'Brick_oven', 'Building_staff',
       'Buzzer/wireless_intercom', 'Cable_TV', 'Carbon_monoxide_detector',
       'Cat(s)', 'Ceiling_fan', 'Changing_table',
       'Children’s_books_and_toys', 'Children’s_dinnerware',
       'Cleaning_before_checkout', 'Coffee_maker', 'Convection_oven',
       'Cooking_basics', 'Crib', 'DVD_player', 'Day_bed',
       'Disabled_parking_spot', 'Dishes_and_silverware', 'Dishwasher',
       'Dog(s)', 'Doorman', 'Dryer', 'EV_charger',
       'Electric_profiling_bed', 'Elevator', 'En_suite_bathroom',
       'Espresso_machine', 'Essentials', 'Ethernet_connection',
       'Extra_pillows_and_blankets', 'Extra_space_around_bed',
       'Family/kid_friendly', 'Fax_machine', 'Fire_extinguisher',
       'Fireplace_guards', 'Firm_mattress', 'First_aid_kit',
       'Fixed_grab_bars_for_shower', 'Fixed_grab_bars_for_toilet',
       'Flat_path_to_guest_entrance', 'Formal_dining_area',
       'Free_parking_on_premises', 'Free_street_parking', 'Full_kitchen',
       'Game_console', 'Garden_or_backyard', 'Gas_oven',
       'Ground_floor_access', 'Gym', 'HBO_GO', 'Hair_dryer',
       'Handheld_shower_head', 'Hangers', 'Heating',
       'High-resolution_computer_monitor', 'High_chair',
       'Host_greets_you', 'Hot_tub', 'Hot_water', 'Hot_water_kettle',
       'Indoor_fireplace', 'Internet', 'Iron', 'Jetted_tub', 'Keypad',
       'Kitchen', 'Kitchenette', 'Lake_access',
       'Laptop_friendly_workspace', 'Lock_on_bedroom_door', 'Lockbox',
       'Long_term_stays_allowed', 'Luggage_dropoff_allowed',
       'Memory_foam_mattress', 'Microwave', 'Mini_fridge', 'Mobile_hoist',
       'Mountain_view', 'Mudroom', 'Murphy_bed', 'Netflix',
       'No_stairs_or_steps_to_enter', 'Other', 'Other_pet(s)',
       'Outdoor_seating', 'Outlet_covers', 'Oven',
       'Pack_’n_Play/travel_crib', 'Paid_parking_off_premises',
       'Paid_parking_on_premises', 'Patio_or_balcony', 'Pets_allowed',
       'Pets_live_on_this_property', 'Pillow-top_mattress', 'Pocket_wifi',
       'Pool', 'Pool_with_pool_hoist', 'Printer', 'Private_entrance',
       'Private_living_room', 'Private_pool', 'Projector_and_screen',
       'Rain_shower', 'Refrigerator', 'Room-darkening_shades',
       'Safety_card', 'Self_check-in', 'Shampoo', 'Shower_chair',
       'Single_level_home', 'Ski-in/Ski-out', 'Smart_TV', 'Smart_lock',
       'Smoke_detector', 'Smoking_allowed', 'Soaking_tub', 'Sound_system',
       'Stair_gates', 'Step-free_shower', 'Stove', 'Suitable_for_events',
       'Sun_loungers', 'TV', 'Table_corner_guards', 'Terrace',
       'Toilet_paper', 'Walk-in_shower', 'Washer', 'Waterfront',
       'Well-lit_path_to_entrance', 'Wheelchair_accessible',
       'Wide_clearance_to_shower', 'Wide_doorway_to_guest_bathroom',
       'Wide_entrance', 'Wide_entrance_for_guests', 'Wide_entryway',
       'Wide_hallways', 'Wifi', 'Window_guards', 'Wine_cooler', '_toilet',
       'translation_missing:_en.hosting_amenity_49',
       'translation_missing:_en.hosting_amenity_50'], dtype=object)

In [15]:
amenities_one_hot_enc = pd.DataFrame(
        mlb.fit_transform(amenities_list),
        index=amenities_list.index,
        columns=mlb.classes_)

In [16]:
amenities_one_hot_enc

,,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25026,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31560,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
35636,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35764,0,0,1,1,1,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40025707,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40033232,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40050039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40064433,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
amenities_one_hot_enc.drop(columns='', inplace=True)
amenities_one_hot_enc

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25026,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31560,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
35636,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35764,0,1,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40025707,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40033232,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40050039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40064433,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

## Estimando o valor do metro-quadrado dos bairros

In [18]:
# Estimativa do valor do metro quadrado por bairro
# Fonte: prefeitura do RJ - http://www2.rio.rj.gov.br/smf/siam/logradouro.asp

metro_quadrado = {
    'Ipanema':20908,
    'Copacabana':12169,
    'Leme':12211,
    'Catete':10486, 
    'Lapa':3277,
    'Barra da Tijuca':9334, 
    'Inhaúma':1484, 
    'Leblon':23625, 
    'Vila Kosmos':1541, 
    'Botafogo':11378,
    'Recreio dos Bandeirantes':6120, 
    'Tijuca':6193, 
    'Glória':9264, 
    'Laranjeiras':9687,
    'Santa Teresa':7869, 
    'Engenho de Dentro':2049, 
    'Centro':7660, 
    'Jardim Botânico':14269,
    'Joá':7973, 
    'Vidigal':1749, 
    'Flamengo':11099, 
    'Gávea':13814, 
    'Rio Comprido':1670,
    'Engenho Novo':3553, 
    'Humaitá':11684, 
    'São Cristóvão':1812, 
    'Cosme Velho':8460,
    'Vila Isabel':5085, 
    'Maracanã':2297, 
    'Andaraí':4961, 
    'Saúde':1813, 
    'Benfica':1272, 
    'Lagoa':15616,
    'Méier':2727, 
    'Marechal Hermes':1213, 
    'Penha':1734, 
    'São Conrado':12211, 
    'Urca':11661,
    'Todos os Santos':2281, 
    'Grajaú':4995, 
    'Lins de Vasconcelos':863,
    'Parque Anchieta':855, 
    'Del Castilho':1621, 
    'Estacio': 1688, 
    'Cachambi':1475,
    'Praça da Bandeira':2285, 
    'Gamboa':1666, 
    'Vaz Lobo':1184, 
    'Irajá':1204, 
    'Olaria':1813, 
    'Madureira':1573,
    'Bonsucesso':1815, 
    'Rocha':1740, 
    'Quintino Bocaiúva':1372, 
    'Vila da Penha':1987,
    'Tomás Coelho':1199, 
    'Bento Ribeiro':1499, 
    'Abolição': 1635, 
    'Brás de Pina': 1341,
    'Riachuelo':1797, 
    'Guadalupe':1171, 
    'Parada de Lucas':1062, 
    'Grumari':2601, 
    'Rocinha':1531,
    'Encantado':1641, 
    'Cordovil':1249, 
    'Barra de Guaratiba':1401, 
    'Cidade Nova':2422,
    'Maria da Graça':1738, 
    'Piedade':1547, 
    'Oswaldo Cruz':1305, 
    'Santo Cristo':1526,
    'Penha Circular': 1566, 
    'Higienópolis':1831, 
    'Catumbi':1158, 
    'Engenho da Rainha':1169,
    'Pilares':1577, 
    'Ramos':1512, 
    'Cascadura':1501, 
    'Sampaio':1698, 
    'Barros filho':744, 
    'Jacaré':1229, 
    'Rocha Miranda':1331, 
    'Caju':866, 
    'Colégio':1070, 
    'Coelho Neto':1084,
    'Mangueira':490, 
    'Ricardo de Albuquerque':1010, 
    'Anchieta':965, 
    'Manguinhos':439,
    'Pavuna':2193, 
    'Vigário Geral':1025, 
    'Vincente de Carvalho':1272,
    'Honório Gurgel':3063, 
    'Cavalcante':981, 
    'Deodoro':999, 
    'Complexo do Alemão':544,
}

metro_quadrado_bairros = pd.DataFrame(data=list(metro_quadrado.items()),columns=['neighbourhood','m2'])
metro_quadrado_bairros = metro_quadrado_bairros.set_index('neighbourhood')
metro_quadrado_bairros

                         m2
neighbourhood
Ipanema               20908
Copacabana            12169
Leme                  12211
Catete                10486
Lapa                   3277
...                     ...
Vincente de Carvalho   1272
Honório Gurgel         3063
Cavalcante              981
Deodoro                 999
Complexo do Alemão      544

[97 rows x 1 columns]

## Salvando os datasets resultantes para as próximas etapas

In [19]:
amenities_one_hot_enc.to_csv('amenities.csv')

In [20]:
df_listings_filtered_sampled.to_csv('anuncios.csv')

In [21]:
metro_quadrado_bairros.to_csv('metro_quadrado.csv')