## Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np

## Instanciando os dataframes

In [2]:
df_anuncios = pd.read_csv('anuncios.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
print('df_anuncios: ' + str(df_anuncios.shape))
df_amenities = pd.read_csv('amenities.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
print('df_amenities: ' + str(df_amenities.shape))
df_metro_quadrado = pd.read_csv('metro_quadrado.csv', index_col='neighbourhood', engine='python', sep =',', encoding="utf-8")
print('df_metro_quadrado: ' + str(df_metro_quadrado.shape))

df_anuncios: (33715, 35)
df_amenities: (33715, 168)
df_metro_quadrado: (97, 1)

## Agregando os dados num Ãºnico dataframe

In [3]:
# Concatenando df_anuncios e df_amenities

df_airbnb = pd.concat([df_anuncios, df_amenities], axis=1)

In [4]:
# Relacionando df_airbnb com df_metro_quadrado 

df_airbnb = df_airbnb.join(df_metro_quadrado, on='neighbourhood', how='left')

## Limpando os dados

In [5]:
# Realizando a estatÃ­stica descritiva

df_airbnb.describe()

,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,maximum_nights,number_of_reviews,...,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50,m2
count,33715.000000,33715.000000,33715.000000,33661.000000,33673.000000,33667.000000,33715.000000,33715.000000,3.371500e+04,33715.000000,...,33715.000000,33715.000000,33715.000000,33715.000000,33715.000000,33715.000000,33715.000000,33715.000000,33715.000000,31747.000000
mean,-22.965208,-43.254228,4.199941,1.694765,1.646126,2.574242,1.718434,4.789826,9.571741e+02,9.374344,...,0.072876,0.045855,0.069465,0.888863,0.031440,0.000119,0.016610,0.089367,0.137565,11363.364601
std,0.035244,0.097488,2.625252,1.508228,1.075649,2.121490,1.585645,22.640328,5.473614e+04,24.815311,...,0.259936,0.209174,0.254246,0.314307,0.174506,0.010892,0.127806,0.285277,0.344448,5170.018781
min,-23.073400,-43.737090,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,439.000000
25%,-22.984710,-43.323360,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000e+01,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9334.000000
50%,-22.970850,-43.200220,4.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.125000e+03,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11378.000000
75%,-22.946725,-43.187085,6.000000,2.000000,2.000000,3.000000,2.000000,4.000000,1.125000e+03,6.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12169.000000
max,-22.750380,-43.104060,160.000000,200.000000,20.000000,69.000000,25.000000,1123.000000,1.000000e+07,372.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,23625.000000

In [6]:
# Eliminando de registros incompletos

df_airbnb = df_airbnb.dropna()

In [7]:
# Formatando os atributos

df_airbnb['host_response_rate'] = df_airbnb.host_response_rate.str.rstrip('%').astype('float') / 100
df_airbnb['price'] = df_airbnb.price.str.lstrip('$').str.replace(',','').astype('float')
df_airbnb['security_deposit'] = df_airbnb.security_deposit.str.lstrip('$').str.replace(',','').astype('float')
df_airbnb['cleaning_fee'] = df_airbnb.cleaning_fee.str.lstrip('$').str.replace(',','').astype('float')
df_airbnb['extra_people'] = df_airbnb.extra_people.str.lstrip('$').str.replace(',','').astype('float')
df_airbnb['bedrooms'] = df_airbnb['bedrooms'].astype(int)
df_airbnb.round({"review_scores_rating":2,"review_scores_accuracy":2,"review_scores_cleanliness":2,"review_scores_checkin":2,"revireview_scores_communication":2,"review_scores_location":2,"review_scores_value":2,"reviews_per_month":2})
df_airbnb.round({"latitude":6, "longitude":6})

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50,m2
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,1,0,0,0,0,0,12169.0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,1,0,0,0,1,1,20908.0
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,1,0,0,0,0,0,20908.0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,1,1,0,1,0,0,0,0,1,12169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,1,0,0,0,0,0,7869.0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0

## Exibindo o dataframe apÃ³s o processamento

In [8]:
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50,m2
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,1,0,0,0,0,0,12169.0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,1,0,0,0,1,1,20908.0
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,1,0,0,0,0,0,20908.0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,1,1,0,1,0,0,0,0,1,12169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,1,0,0,0,0,0,7869.0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,1,0,0,0,0,0,12169.0

In [9]:
df_airbnb.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50,m2
count,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,...,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000,9860.000000
mean,0.918131,-22.970369,-43.230659,4.232657,1.597363,1.568154,2.639249,345.837120,654.215416,145.861562,...,0.134787,0.083874,0.124949,0.941176,0.057302,0.000406,0.030122,0.094726,0.138844,12595.971805
std,0.176144,0.028152,0.080292,2.334539,0.888044,0.995130,1.963967,677.173787,1360.142918,102.364730,...,0.341513,0.277213,0.330678,0.235306,0.232431,0.020138,0.170931,0.292851,0.345801,5178.585970
min,0.000000,-23.072620,-43.567640,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,490.000000
25%,0.900000,-22.984620,-43.224830,2.000000,1.000000,1.000000,1.000000,139.000000,0.000000,90.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9334.000000
50%,1.000000,-22.975110,-43.192810,4.000000,1.000000,1.000000,2.000000,210.000000,398.000000,150.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12169.000000
75%,1.000000,-22.962720,-43.185080,5.000000,2.000000,2.000000,3.000000,361.000000,800.000000,190.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12169.000000
max,1.000000,-22.806570,-43.159080,25.000000,15.000000,15.000000,35.000000,31398.000000,20991.000000,1469.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,23625.000000

## Salvando o dataframe resultante para as prÃ³ximas etapas

In [10]:
df_airbnb.to_csv('airbnb.csv')