## Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

## Lendo as fontes de dados

In [2]:
# listings -> df_anuncios e df_amenities

df_listings = pd.read_csv('listings.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_listings = df_listings[['host_name', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_identity_verified', 'neighbourhood', 'zipcode', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'cancellation_policy', 'calculated_host_listings_count', 'reviews_per_month']]
df_listings

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,100%,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,91%,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,100%,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,100%,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,100%,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40289331,Luis,NaN,NaN,f,f,NaN,22640-100,-23.00629,-43.31821,Loft,...,NaN,NaN,NaN,NaN,NaN,NaN,t,moderate,1,NaN
40289841,Christiane,NaN,NaN,f,f,NaN,20241-260,-22.92799,-43.19134,Loft,...,NaN,NaN,NaN,NaN,NaN,NaN,t,flexible,1,NaN
40290087,Poliane,within a few hours,92%,f,f,NaN,22021010,-22.96303,-43.17778,Loft,...,NaN,NaN,NaN,NaN,NaN,NaN,t,strict_14_with_grace_period,2,NaN
40290464,Rafael,within an hour,100%,f,f,NaN,22410-003,-22.98503,-43.19928,Loft,...,NaN,NaN,NaN,NaN,NaN,NaN,t,moderate,1,1.00
40290908,Larissa,NaN,NaN,f,f,NaN,22011-001,-22.96200,-43.17657,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,t,moderate,1,NaN

In [3]:
# estimativa_m2 -> df_metro_quadrado

df_estimativa_m2 = pd.read_csv('estimativa_m2.csv', index_col='neighbourhood', engine='python', sep =',', encoding="utf-8")
df_estimativa_m2

                        m2
neighbourhood
Abolição              1635
Anchieta               965
Andaraí               4961
Barra da Tijuca       9334
Barra de Guaratiba    1401
...                    ...
Vigário Geral         1025
Vila Isabel           5085
Vila Kosmos           1541
Vila da Penha         1987
Vincente de Carvalho  1272

[97 rows x 1 columns]

## Gerando os dataframes

In [4]:
# Gerando df_anuncios

df_anuncios = df_listings.drop('amenities', axis=1)
df_anuncios.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,100%,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,91%,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,100%,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,100%,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,100%,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84

In [5]:
# Gerando df_amenities

df_amenities = df_listings['amenities']
df_amenities = df_amenities.str.strip('}{').str.replace(' ', '_').str.replace('"', '').str.split(',')
mlb = MultiLabelBinarizer()
df_amenities = pd.DataFrame(
        mlb.fit_transform(df_amenities),
        index=df_amenities.index,
        columns=mlb.classes_)
df_amenities.drop(columns='', inplace=True)
df_amenities.head()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25026,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31560,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
35636,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35764,0,1,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1

In [6]:
# Gerando df_metro_quadrado

df_metro_quadrado = pd.DataFrame(data=df_estimativa_m2)
df_metro_quadrado.sort_values('m2', ascending=False, inplace=True)
df_metro_quadrado.head()

                    m2
neighbourhood
Leblon           23625
Ipanema          20908
Lagoa            15616
Jardim Botânico  14269
Gávea            13814

## Salvando os dataframes resultantes para as próximas etapas

In [7]:
df_anuncios.to_csv('anuncios.csv')

In [8]:
df_amenities.to_csv('amenities.csv')

In [9]:
df_metro_quadrado.to_csv('metro_quadrado.csv')